body {
    background-image: url("/static/images/recipes.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #f0d2d2; 
    font-family: Arial, sans-serif;
}

.container {
    background: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
}