
  {% extends "base.html" %} {% block content %}
  <header class="text-center my-5">
    <h1>Welcome to Healthy Food Planner Application</h1>
    <h2>Recipe Finder</h2>
  </header>

  <div class="image-container">
    <img class="recipe-img" src="/static/images/recipe-img.jpg" alt="image of ingredients">
  </div>

  <form action="{{ url_for('search') }}" method="POST" class="search-form">
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        name="query"
        placeholder="Search for recipes..."
      />
    </div>
    <button type="submit" class="btn btn-primary btn-block">Search</button>
  </form>
  
  {% if recipes %}
  <h2 class="text-center" style="margin-top: 50px;">Recipes</h2>
  <div class="row">
    {% for recipe in recipes %}
    <div class="col-md-4">
      <div class="card mb-4">
        <img
          src="{{ recipe['image'] }}"
          class="card-img-top"
          alt="{{ recipe['title'] }}"
        />
        <div class="card-body">
          <a href="{{ url_for('recipe', recipe_id=recipe.id) }}"
            >{{ recipe.title }}</a
          >
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="text-center">
    <a href="{{ url_for('index') }}" class="btn btn-secondary mt-3">Go Back</a>
  </div>
  {% endif %} {% endblock %}

